.parent{
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;

}
.header{
    height: 10%;
    width: 100%;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    position: sticky;
    top: 0;
    background-color: white;
}
.header select{
    height: 35px;
    width: 200px;
    border-color: rgb(201, 195, 195);
    border-radius: 5px;
}
.middile{
    height: 90%;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 25%;
    border: 1px solid rgb(201, 195, 195);
}
.left1{
    height: 50%;
    width: 100%;
    overflow: auto;
    padding: 20px;
    scrollbar-width: none;
}
.left1 input{
    height:15px;
    width: 15px;
    margin-right: 10px;
}
.left label{
    font-size: 15px;
    text-transform: capitalize;
}
.left3{
height: 50%;
width: 100%;
padding: 20px;
}
hr{
    width: 100%;
}

.right{
    height: 100%;
    width: 75%;
    border: 1px solid rgb(201, 195, 195);
    border-left: 0;
    overflow: auto;
    overflow-x: hidden;
}
.right1{
    height: 400px;
    width: 200px ;
    border: 1px solid rgb(201, 195, 195);
}
.right2{
    height: 30px;
    width: 80px;
    background-color: rgba(207, 205, 205, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    border-radius:3px ;
    font-size: 13px;
    font-weight:700;
}

