<div class="parent">
    <div class="left" style="overflow: auto;">
        <h2>My Website</h2>
        <hr>
        <h5 routerLink="home">Home</h5>
        <h5 routerLink="about">about</h5>
        <h5 routerLink="data-binding">Data-Binding</h5>
        <h5 routerLink="calculator">Calculator</h5>
        <h5 routerLink="rectangle">Rectangle</h5>
        <h5 routerLink="circle">Circle</h5>
        <h5 routerLink="bmi">BMI</h5>
        <h5 routerLink="table">Table</h5>
        <h5 routerLink="vehicles">vehicles</h5>
        <h5 routerLink="cars">Cars</h5>
        <h5 routerLink="myntra">Myntra</h5>
        <h5 routerLink="bikes">bikes</h5>
        <h5 routerLink="accounts">Account</h5>
        <h5 routerLink="flipcart">Flipcart</h5>
        <h5 routerLink="mail">Mail</h5>
        <h5 routerLink="reload">Reload</h5>
        <h5 routerLink="photogallary">Photogallary</h5>
        <h5 routerLink="create-bikes">Create-Bikes</h5>
        <h5 routerLink="create-account">Create-Account</h5>
        <h5 routerLink="create-user">Create-User</h5>
        <h5 routerLink="create-user-ex">Create-User-Form-Ex</h5>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right" style="overflow: auto;">
     <router-outlet></router-outlet>
    </div>
</div>

